/* CSS declarations go here */

body, ul, button, textarea, input {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: url("/images/bg.jpg") repeat;
}

div.title-triangle-1 {
  position: absolute;
  width: 80px;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #bb44aa;
  border-top: 5px solid transparent;
  top: 103px;
  left: 370px;
  -moz-transform: rotate(-7.5deg);
  -o-transform: rotate(-7.5deg);
  -webkit-transform: rotate(-7.5deg);
  -ms-transform: rotate(-7.5deg);
  transform: rotate(-45deg);
}

div#sidebar {
  float: left;
  width: 500px;
}

div#everything {
  border: 10px solid #bb44aa;
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  margin-left: 500px;
  margin-right: 50px;
  border-radius: 20px;
  min-height: 250px;
  position: relative;
  min-width: 600px;
}

div#everything * {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #dd359a;
}

h1 {
  float: left;
  color: #bb44aa;
  padding: 0 26px 0 55px;
  margin: 100px 0 0 150px;
  border-bottom: 5px solid #bb44aa;
}

div.clear {
  clear: both;
}

div.greeting {
  position: absolute;
  top: 100px;
  left: 450px;
  color: #bb44aa;
  font-size: 30px;
}

div#login-buttons {
  position: absolute;
  top: 103px;
  left: 535px;
  color: #bb44aa;
  font-size: 30px;
}

div#login-buttons a {
  text-decoration: none;
}

h2 {
  color: #ff01a1;
  margin-top: 30px;
  margin-left: 115px;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: #FF8000;
  font-family: cursive;
}

ul {
  margin-left: 90px;
}

li {
  display: block;
  list-style: none;
  padding: 5px;
}

button {
  float: left;
  display: block;
  margin-right: 10px;
  background-color: #22bcaa;
  padding: 3px 6px 3px 6px;
  color: #eedd9a;
  border-radius: 6px;
  font-size: 12px;
}

a.new {
  margin-left: 130px;
  margin-top: 20px;
  display: block;
}

p {
  color: #ff22dd;
  margin-bottom: 30px;
}

a.back {
  bottom: 15px;
  right: 2.5%;
  position: absolute;
  font-size: 12px;
  background-color: #447799;
  padding: 3px 6px 3px 6px;
  color: #eedd9a;
  border-radius: 6px;
}

button.post-edit {
  position: absolute;
  left: 20px;
  bottom: 15px;
  font-size: 15px;
}

button.post-delete {
  position: absolute;
  right: 10px;
  bottom: 15px;
  font-size: 15px;
  background: rgb(255,50,100);
}

div.comments-section {
  border: 10px solid #bb44aa;
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  margin-left: 500px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
  min-width: 600px;
}

div.comments-section * {
  opacity: 1;
}

div.comments-section h4 {
  font-size: 30px;
  margin: 0;
  padding-bottom: 10px;
}

div.comments-section ul {
  margin: 0;
}

div.comments-section ul li {
  border: 5px solid pink;
  border-radius: 10px;
  margin: 10px;
}

div.comments-section ul li p {
  padding: 5px;
  margin: 0;
}

div.comments-section ul li button {
  float: none;
  background: rgb(255,50,100);
}

div.new-comments-section {
  border: 10px solid #bb44aa;
  background-color: rgba(255,255,255,0.9);
  padding: 20px;
  margin-left: 500px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 20px;
  position: relative;
  min-width: 600px;
  margin-bottom: 100px;
}

div.new-comments-section * {
  opacity: 1;
}

div.new-comments-section input {
  border: 0;
  box-shadow: 0 0 0.1em #ff01a1;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  background: transparent;
  color: #ff01a1;
  width: 97%;
  margin-top: 10px;
}

div.new-comments-section input:focus {
  box-shadow: 0 0 0.5em #ff01a1;
  outline: 0;
}
