<template name="posts">
  <ul>
  {{#each posts}}
  <li class="post">
    <a href="/posts/{{_id}}">{{ title }}</a>
  </li>
  {{ /each }}
  <li><button class="new-post">Create New Post</button></li>
  </ul>
</template>

<template name="postShow">
  <div id="everything">
  <h3>~~~ {{ title }} ~~~</h3>
  <p>
    {{ body }}
  </p>
  <button class="post-edit">Edit your beautiful post</button>
  <button class="post-delete">Delete your beautiful post</button>
  </div>
  {{#if comments}}
    {{ > postComments }}
  {{/if}}
  {{#if currentUser}}
    {{ > newComment }}
  {{/if}}
</template>

<template name="postEdit">
  <div id="everything">
    <form class="edit-post">
      <h3>~~~ <input type="text" name="post[title]" id="title" value="{{title}}"> ~~~</h3>
      <textarea name="post[body]" id="body">{{body}}</textarea>
      <button id="edit-diary" >Edit Your Journal For Your Beautiful Fabulous Day</button>
    </form>
  </div>
</template>

<template name="welcome">
  <div id="everything">
  <h2>This is your Jounral!</h2>
  </div>
</template>

<template name="newPost">
  <div id="everything">
    <form class="new-post">
      <h3>~~~ <input type="text" name="post[title]" id="title" placeholder="Title"> ~~~</h3>
      <textarea name="post[body]" id="body" placeholder="Speak your mind!"></textarea>
      <button id="new-diary" >Write A New Journal For Your Beautiful Fabulous Day</button>
    </form>
    <a class="back" href="/">Go Back To Your Other Beautiful Journal Entries</a>
  </div>
</template>
